<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chef's</title>
</head>
<body>
    
<div ng-controller="chefCtrl">
    <!--//{{test}}-->
     <div class="col-md-offset-1 col-xs-10">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Chef's</h3>
              </div>
              <div class="panel-body col-md-offset-1">
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/royal1.jpeg" alt="Description"/>                      
                  </div>
                  <div style="float:left;width:65% " class="col-md-offset-1">
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/royal2.jpeg" alt="Description"/>
                     <div style="float:left;width:65% " class="col-md-offset-1">
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>                                           
                  </div>
              </div>
          
          </div>
     </div>
</div>
</body>
</html>
