<div ng-controller="restaurantsCtrl">
    <div class="col-md-offset-1 col-xs-10">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Restaurants Width of the Page: {{pageWidth}}</h3>
              </div>
              <div class="panel-body col-md-offset-1">
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/newcanaan.jpeg" alt="Description"/>                      
                  
                  <div class="col-md-offset-1 desc" >
                      {{pageWidth}}   {{descw}}lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                  </div>
                  </div>
                  <div class="panel" style="float:left; clear:both;"> 
                     <img class="imgs" src="images/newheavan.jpeg" alt="Description"/>
                     <div class="col-md-offset-1 desc" >
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>                                           
                  </div>
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/ridgefield.jpeg" alt="Description"/>
                     <div class="col-md-offset-1 desc" >
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>                                           
                  </div>
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/thalitoo.jpeg" alt="Description"/>
                     <div class="col-md-offset-1 desc" >
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>                                           
                  </div>
                  <div class="panel" style="float:left; clear:both;">
                     <img class="imgs" src="images/oaxaca.jpeg" alt="Description"/>
                     <div class="col-md-offset-1 desc" >
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      lskdfja;lsfd;lsfjlsadjfkdlsafkjlsadfjs
                      </div>                                           
                  </div>
              </div>
          
          </div>
     </div>
</div>